body {
    background-color: #131314;    
    color: #bebebe; 
}

h1 {
    margin: 10px;
    margin-top: 15px;
    font-size: 40px;
    text-align: center;
    color: #588075; 
}
  
label {    
    color: #777a5a; 
    font-size: 20px;
    display: inline-block;
}

label.wrap-label {
    color: #78719b;
    width: auto;
    font-size: 20px;
    display: block;
}

input {
    color: #bebebe;
    background-color: #1E1F20;
    border-color: #8d8f91;
    font-size: 22px;
    margin: 5px;
    border-radius: 5px;
    width: 95%;
}

input.small-input {
    width: 150px; 
    margin: 1px;
}

button {
    background-color: #8d8f91;
    font-weight: bold;
    font-size: 25px;
    margin: 10px 5px 5px 5px;
    padding: 15px;
    border-radius: 10px;
    width: 96%;
}

.container {
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 20px;
}